
.input-box {
    height: 33px;
    width: 110px;
}

#book-title {
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-family: "Lucida Calligraphy", sans-serif;
    background-image: linear-gradient(to bottom, #9b653d, rgb(191, 145, 105));
}

.menu {

}

#chapter-num {
    text-align: left;
}

#chapter-title {
    text-align: center;
    font-size: 1.23em;
    color: black;
    font-family: Assistant, sans-serif;
    background-color: #dad2c2;
    font-weight: bold;
}

form label {
    margin-right: 10px;
}

#navbar-selection {
    color: white;
    background-image: linear-gradient(to bottom, #8B4513, #9b653d);
    justify-content: center;
!important;
}

#navbar-buttons {
    color: white;
    background-image: linear-gradient(to bottom,#9b653d, #8B4513);
    justify-content: center;
!important;
}

.form-nav {
    margin-top: 10px;
    font-size: 1.4em;
    font-family: Assistant, sans-serif;
}

form-nav-item{
    margin-left: 25px;
}

.navbar label {
    margin: auto;
}

#search-btn {
    color: black;
    float: right;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-color: navajowhite;
}

#home-btn {
    color: black;
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-color: navajowhite;
    margin:15px;
}

#header-image {
    background-image: url('header_image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.header-text {
    font-size: 120px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: #8B4513;
    outline: none;
    text-align: center;
}

body {
    min-height: 100vh;
}

#bg-color {
    background-color: #f5efe3;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: Assistant, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #f5efe3;
    margin-top: auto;
}


.styled-table td {
    padding: 12px 15px;
}

#verse-num {
    background-color: #dad2c2;
    text-align: center;
}

#book-name-likes{
    background-color: #dad2c2;
    text-align: center;
    width: 30%;
}

#likes-per-book{
    text-align: center;
    width: 70%;
}

.login-page {
    background-image: url('login_bg_blur.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-title {
    font-size: 30px;
    word-spacing: 5px;
    margin-bottom: -25px;
}

#sign-in-btn {
    background-color: #750612;
    border: #750612;
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    margin-bottom: 5px;
}

#card-container {
    border: 2px solid #ccc;
    border-radius: 12%;
    padding-right: 20px;
    padding-left: 20px;
    opacity: 85%;
    display: grid;
    place-items: center;
}

.logo {
    background-image: url('logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}
.tatiana {
    background-image: url('tatiana.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

#sign-in-label {
    display: block;
    margin-top: 5px;
}

.black-title {
    margin-top: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#like-btn {
    float: right;
}


#like-amount {
    float: right;
    margin-left: 7px;
    font-size: 1em;
}

like {
    float: right;
    margin-right: 7px;
}

.likes-table-title {
    text-align: center;
    font-size: 1.23em;
    color: black;
    font-family: Assistant, sans-serif;
    font-weight: bold;

}

#color{
   background-color: #dad2c2;
}

.home-nav-item{
    margin-left: 70px;
}