<html>
<head>
    <title>{{ title }}</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</head>
<body id="bg-color">

<header>
    <div id="header-image" class="jumbotron bg-cover text-white">
        <form action="/return_home" method="post">
            <button id="home-btn" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-house-door"
                     viewBox="0 0 16 16">
                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
                </svg>
            </button>
        </form>
        <div class="container py-5 text-center header-text">
            <h1 class="display-4 font-weight-bold">Converse about the Verse</h1>
        </div>
    </div>
</header>
<up-container>
    <nav id="navbar-selection" class="navbar navbar-light bg-light">
        <form class="form-nav" action="/navbar" method="post">
            <form-nav-item>
                <label>Translation:&nbsp</label>
                <select class="custom-select custom-select-lg" name="translation">
                    <option selected>Select bible translation</option>
                    {% for trans in all_translations_names %}
                    <option value="{{ trans }}">{{ trans }}</option>
                    {% endfor %}
                </select>
            </form-nav-item>

            <form-nav-item>
                <label>Book:&nbsp</label>
                <select class="custom-select custom-select-lg" name="book">
                    <option selected>Select book name</option>
                    {% for book in all_book_titles %}
                    <option value="{{ book }}">{{ book }}</option>
                    {% endfor %}
                </select>
            </form-nav-item>

            <form-nav-item>
                <label>Chapter:&nbsp</label>
                <input class="input-box" type="text" name="chapter">
            </form-nav-item>

            <form-nav-item>
                <label>Verse:&nbsp</label>
                <input class="input-box" type="text" name="verse">
            </form-nav-item>

            <form-nav-item>
                <button id="search-btn" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search"
                         viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form-nav-item>

        </form>
    </nav>
    <nav id="navbar-buttons" class="navbar navbar-light bg-light">
        <form class="home-nav-item" method="post" action="/likes_per_book">
            <button type="submit" id="sign-in-btn" class="btn btn-primary">Likes per book</button>
        </form>

        <form class="home-nav-item" method="post" action="/liked_verse">
            <label>Liked verses in a book:&nbsp</label>
            <select class="custom-select custom-select-lg" name="book">
                <option selected>Select book name</option>
                {% for book in all_book_titles %}
                <option value="{{ book }}">{{ book }}</option>
                {% endfor %}
            </select>
            <button type="submit" id="sign-in-btn" class="btn btn-primary">search</button>


        </form>

        <form class="home-nav-item" method="post" action="/search_word">
            <label>Search verses by word:&nbsp</label>
            <input class="input-box" type="text" name="word" placeholder="word">
            <button type="submit" id="sign-in-btn" class="btn btn-primary">search</button>
        </form>
    </nav>

    <div id="book-title">
        {{ book_title }}
    </div>
</up-container>
<down-container>
    <table class="table table-hover styled-table">
        {% for row in rows %}
        <tr>
            <td id="verse-num">{{all_book_titles[row[1]],row[2], row[3] }}</td>
            <td>{{ row[4] }}

                <form action="/dislike" method="post">
                    <like>
                        <label id="like-amount"></label>
                        <input type="hidden" name="my_variable" value="{{row[0]}}">
                        <button>
                            <svg id="like-btn" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor"
                                 class="bi bi-heart-fill"
                                 viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                        </button>
                    </like>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</down-container>
</body>
</html>
