<html>
<head>
    <title>{{ title }}</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</head>
<body id="bg-color">

<header>
    <div id="header-image" class="jumbotron bg-cover text-white">
        <div class="container py-5 text-center header-text">
            <h1 class="display-4 font-weight-bold">Converse about the Verse</h1>
        </div>
    </div>
</header>
<up-container>
    <nav id="navbar-selection" class="navbar navbar-light bg-light">

        <form class="form-nav" action="/navbar" method="post">
            <label>Translation:&nbsp</label>
            <select class="custom-select custom-select-lg" name="translation">
                <option selected>Select bible translation</option>
                {% for trans in all_translations_names %}
                <option value="{{ trans }}">{{ trans }}</option>
                {% endfor %}
            </select>


            <label>Book:&nbsp</label>
            <select class="custom-select custom-select-lg" name="book">
                <option selected>Select book name</option>
                {% for book in all_book_titles %}
                <option value="{{ book }}">{{ book }}</option>
                {% endfor %}
            </select>

            <label>Chapter:&nbsp</label>
            <input class="input-box" type="text" name="chapter">

            <label>Verse:&nbsp</label>
            <input class="input-box" type="text" name="verse">

            <button id="search-btn" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-search"
                     viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </form>
    </nav>

    <div id="book-title">
        {{ book_title }}
    </div>
</up-container>
<down-container>
    <table class="table table-hover styled-table">
        {% for row in rows %}
        {% if row[3] == 1 or len==1 %}

        <tr id="chapter-title">
            <td> Chapter</td>
            <td id="chapter-num">{{ row[2] }}</td>
        </tr>
        {% endif %}
        <tr>
            <td id="verse-num">{{ row[3] }}</td>
            <td>{{ row[4] }}

                <like>
                    <label id="like-amount">2</label>
                    <svg id="like-btn" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-heart-fill"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>

                </like>
            </td>
        </tr>
        {% endfor %}
    </table>
</down-container>
</body>
</html>
